<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>Arts Library</string>
		<key>imageName</key>
		<string>arts</string>
		<key>longitude</key>
		<real>-118.439218</real>
		<key>latitude</key>
		<real>34.074079</real>
		<key>building</key>
		<string>Public Affairs Building</string>
		<key>street</key>
		<string>1400 Public Affairs Building</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1392</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Biomedical Library</string>
		<key>secondaryName</key>
		<string>Louise M. Darling</string>
		<key>imageName</key>
		<string>biomedical</string>
		<key>longitude</key>
		<real>-118.442408</real>
		<key>latitude</key>
		<real>34.066639</real>
		<key>building</key>
		<string>Center for Health Sciences</string>
		<key>street</key>
		<string>12-077 Center for Health Sciences</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1798</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>East Asian Library</string>
		<key>secondaryName</key>
		<string>Richard C. Rudolph</string>
		<key>imageName</key>
		<string>eastAsian</string>
		<key>longitude</key>
		<real>-118.441832</real>
		<key>latitude</key>
		<real>34.074759</real>
		<key>building</key>
		<string>Charles E. Young Research Library</string>
		<key>street</key>
		<string>21617 Charles E. Young Research Library</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1575</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Law Library</string>
		<key>secondaryName</key>
		<string>Hugh &amp; Hazel Darling</string>
		<key>imageName</key>
		<string></string>
		<key>longitude</key>
		<real>-118.438346</real>
		<key>latitude</key>
		<real>34.072895</real>
		<key>building</key>
		<string>Law Building</string>
		<key>street</key>
		<string>1112 Law Building, 385 Charles E. Young Drive East</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1458</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Library Special Collections</string>
		<key>imageName</key>
		<string></string>
		<key>longitude</key>
		<real>-118.441485</real>
		<key>latitude</key>
		<real>34.075112</real>
		<key>building</key>
		<string>Charles E. Young Research Library</string>
		<key>street</key>
		<string>A1713 Charles E. Young Research Library </string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1575</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>14</key>
	<dict>
		<key>name</key>
		<string>Management Library</string>
		<key>secondaryName</key>
		<string>Eugene &amp; Maxine Rosenfeld</string>
		<key>imageName</key>
		<string>business</string>
		<key>longitude</key>
		<real>-118.443379</real>
		<key>latitude</key>
		<real>34.07435</real>
		<key>building</key>
		<string>UCLA Anderson School of Management</string>
		<key>street</key>
		<string>110 Westwood Plaza, E-301 Box 951460</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1460</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>16</key>
	<dict>
		<key>name</key>
		<string>Music Library</string>
		<key>imageName</key>
		<string></string>
		<key>longitude</key>
		<real>-118.440417</real>
		<key>latitude</key>
		<real>34.07094</real>
		<key>building</key>
		<string>Schoenberg Music Building</string>
		<key>street</key>
		<string>1102 Schoenberg Music Building</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1490</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>Powell Library</string>
		<key>imageName</key>
		<string>powell</string>
		<key>longitude</key>
		<real>-118.44218</real>
		<key>latitude</key>
		<real>34.07162</real>
		<key>street</key>
		<string>405 Hilgard Ave</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>20</key>
	<dict>
		<key>name</key>
		<string>Research Library</string>
		<key>secondaryName</key>
		<string>Charles E. Young</string>
		<key>imageName</key>
		<string>yrl</string>
		<key>longitude</key>
		<real>-118.44165</real>
		<key>latitude</key>
		<real>34.074954</real>
		<key>street</key>
		<string>Charles E. Young Research Library</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1575</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>25</key>
	<dict>
		<key>name</key>
		<string>Science and Engineering Library</string>
		<key>imageName</key>
		<string>sel</string>
		<key>longitude</key>
		<real>-118.442706</real>
		<key>latitude</key>
		<real>34.068826</real>
		<key>building</key>
		<string>Boelter Hall</string>
		<key>street</key>
		<string>8270 Boelter Hall</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
	<key>27</key>
	<dict>
		<key>name</key>
		<string>Southern Regional Library Facility</string>
		<key>imageName</key>
		<string></string>
		<key>longitude</key>
		<real>-118.454188</real>
		<key>latitude</key>
		<real>34.070864</real>
		<key>street</key>
		<string>Box 951388 305 De Neve Drive Parking Lot 17</string>
		<key>city</key>
		<string>Los Angeles</string>
		<key>ZIP</key>
		<string>90095-1388</string>
		<key>state</key>
		<string>CA</string>
		<key>country</key>
		<string>US</string>
	</dict>
</dict>
</plist>
